# Env files
.env
*.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Cloudflare temp
cloudflare_tunnel_details.json

# Local Databases & SQL Dumps
*.db
d1_migration.sql
